<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VocalBridge - Your Voice Recording Website</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript">
        window.location.replace("/signup.html");
    </script>
</head>
<body>
    <p>If you are not redirected automatically, follow this <a href="/signup.html">link to signup</a>.</p>
    <!-- Include your JS files -->
    <script src="main.js"></script>
    <script src="buttons.js"></script>
</body>
</html>
